@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Sarabun" ;
      
        font-weight: 100;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-Thin.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun" ;
      
        font-weight: 200;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-ExtraLight.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 300;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-Light.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 400;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-Regular.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 500;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-Medium.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 600;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-SemiBold.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 700;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-Bold.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 800;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-ExtraBold.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 900;
      
        font-style: normal;
      
        src: url('../fonts/Sarabun-Black.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 100;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-ThinItalic.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 300;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-ExtraLightItalic.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 300;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-LightItalic.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 400;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-Italic.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 500;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-MediumItalic.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 600;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-SemiBoldItalic.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 700;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-BoldItalic.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 800;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-ExtraBoldItalic.ttf') format('truetype');
      }
      
      @font-face {
        font-family: "Sarabun";
      
        font-weight: 900;
      
        font-style: italic;
      
        src: url('../fonts/Sarabun-BlackItalic.ttf') format('truetype');
      }
      
      
}